.c-counter {
  padding: 10px;
  display: block;
  &__button {
    background: transparent;
    border: 4px solid #09D3AC;
    color: #09D3AC;
    cursor: pointer;
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1rem;
    min-width: 7rem;
    animation: 5s rotateAnimation infinite cubic-bezier(0.6, -0.28, 0.74, 0.05);
    &--small {
      padding: 0;
    }
  }
  //&--background-sec {
  //  background-color: yellow;
  //}
}
@keyframes rotateAnimation {
  0% {
    color: #09D3AC;
    border-color: #09D3AC;
  }
  50% {
    color: #ffffff;
    border-color: #ffffff;
  }
  100% {
    color: #09D3AC;
    border-color: #09D3AC;
  }
}